body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
.btns{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 250px;
    width: 200px;
    margin: 25px;
}
.result {
    background-color: antiquewhite;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 500px;
}
.scores{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
}
.score{
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
}
#computerScore,
#playerScore{
    font-size: 40px;
    margin: 50px;
}
.win{
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.game{
    display: flex;
    height: 500px;
    width: 100%;
    
}
.end{
    margin-top: auto;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#rock{
    background-image: url('./imgs/rock.jpg');
}
#paper{
    background-image: url('./imgs/paper.svg');
}
#scissors{
    background-image: url('./imgs/scissors.svg');
}
#rock,
#paper,
#scissors{
    background-repeat: no-repeat;
    background-size: 100px;
}
.showMoves{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    height: 250px;  
}
.moveImg{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: 200px;
}
.vs{
    font-size: 100px;
}
.playerMove,
.computerMove{
    display: flex;
    align-items: center;
    justify-content: center;
    
}