*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
}

.game{
    height: 100vh;
    background-color: #222831;
}
.stats{
    height: 10%;
    width: 100%;
    display: flex;
    background-color: #222831;
    color: white;
    z-index: 10;
    position: absolute;
}
.player-score,
.ai-score{
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.stats div{
    width: 50%;
    display: flex;
    

}
.player1 h2,
.player2 h2{
    margin-left: 25px;
    margin-top: 25px;
}

.gameboard{
    height: 50%;
    background-color: #393E46;
}
.options{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222831;
}
.options img{
    height: 100px;
    width: 100px;
    filter: invert();
}
.options button{
    height: 110px;
    width: 110px;
    margin: 0px 25px;
    background-color: #393E46;
}
.options button:hover{
    background-color: #2d3138;
}
.history{
    height: 15%;
    display: flex;
    overflow-x: auto;
    align-items: center;
    position: relative;
    background-color: #393E46;
    padding-left: 25px;
    padding-right: 25px;
}
.history-item{
    height: 100px;
    width: 100px;
    margin: 2px;
    background-color: rgba(211, 211, 211, 0.08);
    animation: 0.3s pop-up 1;
}
@keyframes pop-up {
    0%{
        transform: scale(0,0);
    }
    100%{
        transform: scale(1,1);
    }
}
.player-item{
    border-bottom: 1px solid green;
}
.ai-item{
    border-bottom: 1px solid red;
}
.hidden{
    display: none !important;
}
.start-screen{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#start-game-btn{
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 25px;
}
.show{
    display: flex;
}
.player-choice,
.ai-choice{
    height: 200px;
    width: 200px;
    filter: invert();
    animation: 0.5s pop-up 1;
}


.ai-move,
.player-move{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}
.gameboard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.endScreen{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: white;
    z-index: 15;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.end-menu{
    height: 250px;
    width: 300px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.end-menu h2{
    margin-bottom: auto;
    margin-top: 30px;
}
.end-menu h3{
    margin-bottom: auto;
}
.end-menu #restart-btn{
    width: 100px;
    height: 30px;
    border: 1px solid lightgray;
    background-color: white;
    margin-bottom: 25px;
}
::-webkit-scrollbar{
    background-color: gray;
    padding: 1px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #343e4d;
    border: 1px solid #647691;
}